*{
    margin:0;
    padding:0;
}

#imgs {
    display: flex;
    justify-content: center;
    gap: 80px;
}

h1{
  margin: 0;
  display: flex;
  justify-content: center;
}

.container{
  background-color: lightgrey;
  margin-top: 0;
  padding: 30px 0;
}

.member {
    width: 220px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pho{
  width: 220px;
  height: 290px;
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 20px;
  border: 4px solid white;
  margin-top: 80px;
}

.member p {
    margin: 8px 0 0;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 600;
}

.bio {
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    border: black;
    font-size: 0.9rem;
    line-height: 1.4;
    box-sizing: border-box;
}
